{% extends "layout.html" %}

{% block content %}
<div class = "articleTitle">
  <h1>Add courses</h1>
  
  <div class = "articleContent">
    {% if exist == "yes" %}
    <h4>Course already exists.</h4>
    <br>
    <br>
    {% elif exist == "no" %}
    <h3>Course has been added</h3>
    <br>
    <br>
    {% elif exist == "noNum" %}
    <h4>Error! Course number has not been added!</h4>
    <br>
    <br>
    {% endif %}
            <form method="post">
          <p>Course Subject:
					<select name="subject">
					<option>ACCT</option>
					<option>AMST</option>
					<option>ANTH</option>
					<option>ARAB</option>
					<option>ARTH</option>
					<option>BIOL</option>
					<option>BLAW</option>
					<option>BUAD</option>
					<option>CHEM</option>
					<option>CHIN</option>
					<option>CLAS</option>
					<option>COMM</option>
					<option>CPSC</option>
					<option>DSCI</option>
					<option>ECON</option>
					<option>EDUC</option>
					<option>ENGL</option>
					<option>EESC</option>
					<option>FREN</option>
					<option>GEOG</option>
					<option>GISC</option>
					<option>GEOL</option>
					<option>GERM</option>
					<option>GREK</option>
					<option>HISP</option>
					<option>HIST</option>
					<option>ITAL</option>
					<option>LATN</option>
					<option>LRSP</option>
					<option>LING</option>
					<option>MATH</option>
					<option>MGMT</option>
					<option>MIST</option>
					<option>MKTG</option>
					<option>MSCI</option>
					<option>MUHL</option>
					<option>MUPR</option>
					<option>MUTC</option>
					<option>MUTH</option>
					<option>NURS</option>
					<option>PHIL</option>
					<option>PHYS</option>
					<option>PSCI</option>
					<option>PSYC</option>
					<option>RELG</option>
					<option>SOCG</option>
					<option>SPAN</option>
					<option>ARTS</option>
					<option>THEA</option>
            </select></p>
                <p>Course Number: <input name="number" type="number" id="number" maxlength="64"/></p><br/>
                <input type="submit" name="submit" value="Add Course" />
   
    
{% endblock %}