{% extends "layout.html" %}

{% block content %}
<div class = "articleTitle">
  <h1>Create a Tutor </h1>
  
  <div class = "articleContent">
    {% if created == "yes" %}
    <p>Congratulations! You've created a tutor!</p>
    {% elif created == "no" %}
    <p>Error! Account is already made as tutor!</p>
    {% elif created == "updated" %}
    <p>Account already made. Updated to Tutor.</p>
    {% elif created == "admin" %}
    <p>Error! Account is admin!</p>
    {% endif %}
    <p>NOTE: When adding courses, seperate them by commas, not spaces</p>
    <br>
            <form method="post">
                <p>First Name: <input name="firstName" type="text" id="firstName" placeholder="First Name" maxlength="96"/></p><br/>
                <p>Last Name: <input name="lastName" type="text" id="lastName" placeholder="Last Name" maxlength="96"/></p><br/>
                <p>Email: <input name="email" type="text" id="email" placeholder="Email" maxlength="96"/></p><br/>
              <p>Add Course(s): <input name="course" type="text" id="course" placeholder="Courses" maxlength="150"/></p><br/>
                <p>Password: <input name="password" type="password" id="password" placeholder="Password" maxlength="64"/></p><br/><br/>
                <input type="submit" name="submit" value="Sign In" />

   
    
{% endblock %}