{% extends "layout.html" %}

{% block content %}
<div class = "articleTitle">
  <h1>Log-In </h1>
  
  <div class = "articleContent">
        <p>Create a Tutor</p>
            <form method="post" action="/">
                <p>First Name: <input name="firstName" type="text" id="firstName" placeholder="firstName" maxlength="96"/></p><br/>
                <p>Last Name: <input name="lastName" type="text" id="lastName" placeholder="lastName" maxlength="96"/></p><br/>
                <p>Email: <input name="email" type="text" id="email" placeholder="email" maxlength="96"/></p><br/>
                <p>Password: <input name="password" type="password" id="password" placeholder="password" maxlength="64"/></p><br/><br/>
                <input type="submit" name="submit" value="Sign In" />
   
    
{% endblock %}