{% extends "layout.html" %}

{% block content %}
<div class = "articleTitle">
  <h1>Deleting accounts</h1>
  
  <div class = "articleContent">
    {% if exists == "yes" %}
    <p>Account has been deleted</p>
    <br>
    <br>
    {% elif exists == "no" %}
    <p>Account does not exist</p>
    <br>
    <br>
    {% elif exists == "admin" %}
    <p>Cannot delete an Admin account</p>
    <br>
    <br>
    {% endif %}
        <p>Type in the first and last name of a student you wish to delete:</p>
            <form method="post">
                <p>First Name: <input name="firstName" type="text" id="firstName" placeholder="firstName" maxlength="96"/></p><br/>
                <p>Last Name: <input name="lastName" type="text" id="lastName" placeholder="lastName" maxlength="96"/></p><br/>
              <p>Email: <input name="email" type="text" id="email" placeholder="email" maxlength="96"/></p><br/>
               <p>Reason: <input name="reason" type="text" id="reason" placeholder="reason" maxlength="150"/></p><br/>
                <input type="submit" name="submit" value="Delete Account" />
   
    
{% endblock %}