{% extends "layout.html" %}

{% block content %}
<div class = "articleTitle">
  <h1>Deleting accounts</h1>
  
  <div class = "articleContent">
    {% if exists == "yes" %}
    <h3>Account has been deleted</h3>
    <br>
    <br>
    {% elif exists == "no" %}
    <h4>Account does not exist</h4>
    <br>
    <br>
    {% elif exists == "admin" %}
    <h4>Cannot delete an Admin account</h4>
    <br>
    <br>
    {% endif %}
        <h2>Type in the first and last name of a student you wish to delete:</h2>
            <form method="post">
                <h2>First Name: <input name="firstName" type="text" id="firstName" placeholder="firstName" maxlength="96"/></h2><br/>
                <h2>Last Name: <input name="lastName" type="text" id="lastName" placeholder="lastName" maxlength="96"/></h2><br/>
                <h2>Email: <input name="email" type="text" id="email" placeholder="email" maxlength="96"/></h2><br/>
                <h2>Reason: <input name="reason" type="text" id="reason" placeholder="reason" maxlength="150"/></h2><br/>
                <input type="submit" name="submit" value="Delete Account" />
   
    
{% endblock %}