{% extends "layout.html" %}

{% block content %}
<div class = "articleTitle">
  <h1>Edit your information</h1>
  
  <div class = "articleContent">
        
            <form method="POST" action="/">
                {% if session['Status'] == "admin" %}
                <p>First Name: <input name="firstName" type="text" id="firstName" placeholder="firstName" maxlength="96"/></p>
                <p>Last Name: <input name="lastName" type="text" id="lastName" placeholder="lastName" maxlength="96"/></p>
                <p>Email: <input name="email" type="text" id="email" placeholder="email" maxlength="96"/></p>
                {% endif %}
                <p>Old Password: <input name="oldpassword" type="password" id="oldpassword" maxlength="64"/></p>
                <p>New Password: <input name="password" type="password" id="password" maxlength="64"/></p><br/>
                <input type="submit" name="submit" value="Edit" />
                
   
    
{% endblock %}