{% extends "layout.html" %}

{% block content %}
<div class = "articleTitle">
  <h1>Edit a Tutor </h1>
  
  <div class = "articleContent">
    {% if created == "exist" %}
    <p>Course already exists in tutor account</p>
    {% endif %}
    <p>Add or delete the courses from: {{first}} {{last}}</p>
    <br>
            <form method="post">

            <table>
					<tr><td>Courses to add: </td>
					<td>Subject:<select name="Subject">
            <option></option>
					<option>ACCT</option>
					<option>AMST</option>
					<option>ANTH</option>
					<option>ARAB</option>
					<option>ARTH</option>
					<option>BIOL</option>
					<option>BLAW</option>
					<option>BUAD</option>
					<option>CHEM</option>
					<option>CHIN</option>
					<option>CLAS</option>
					<option>COMM</option>
					<option>CPSC</option>
					<option>DSCI</option>
					<option>ECON</option>
					<option>EDUC</option>
					<option>ENGL</option>
					<option>EESC</option>
					<option>FREN</option>
					<option>GEOG</option>
					<option>GISC</option>
					<option>GEOL</option>
					<option>GERM</option>
					<option>GREK</option>
					<option>HISP</option>
					<option>HIST</option>
					<option>ITAL</option>
					<option>LATN</option>
					<option>LRSP</option>
					<option>LING</option>
					<option>MATH</option>
					<option>MGMT</option>
					<option>MIST</option>
					<option>MKTG</option>
					<option>MSCI</option>
					<option>MUHL</option>
					<option>MUPR</option>
					<option>MUTC</option>
					<option>MUTH</option>
					<option>NURS</option>
					<option>PHIL</option>
					<option>PHYS</option>
					<option>PSCI</option>
					<option>PSYC</option>
					<option>RELG</option>
					<option>SOCG</option>
					<option>SPAN</option>
					<option>ARTS</option>
					<option>THEA</option>
					</select>Course Number: <input type="text" name="CourseNum" id="CourseNum" maxlength=5 placeholder="Enter Course Number"/></td></tr>
           
          <tr><td>Courses to delete: </td>
          <td><select name = "tutorCourse">
            <option></option>
          {% for data in classes %}
          <option>{{data}}</option>
          {% endfor %}
          </select>  
            
					<tr><td>&nbsp;</td><td><input type="submit" value="Edit Tutor" /></td></tr>
					</table>
    
{% endblock %}