{% extends "layout.html" %}

{% block content %}
<div class = "articleTitle">
  <h1>Edit your information</h1>
  
  <div class = "articleContent">
    {% if errors == "new" %}
    <h3>Administrator Account has be updated.</h3>
    <br>
    <br>
    {% elif errors == "nothing" %}
    <h3>Nothing has been inputted for Admin.</h3>
    {% elif errors == "pass" %}
    <h3>Error. No new password has been added.</h3>
    {% elif errors == "email" %}
    <h3>New Email is not UMW staff email.</h3>
    {% elif errors == "password" %}
    <h3>Your password has been updated.</h3>
    <br>
    <br>
    {% elif errors == "notSame" %}
    <h4>Your old passwords did not match. Unable to update.</h4>
    <br>
    <br>
    {% endif %}
            <form method="post">
                {% if session['Status'] == "admin" %}
                <h2>First Name: <input name="firstName" type="text" id="firstName" placeholder="First Name" maxlength="96"/></h2>
                <h2>Last Name: <input name="lastName" type="text" id="lastName" placeholder="Last Name" maxlength="96"/></h2>
                <h2>Email: <input name="email" type="text" id="email" placeholder="Email" maxlength="96"/></h2>
                {% endif %}
                {% if session['Status'] == "admin" or session['Status'] == "student" or session['Status'] == "tutor" %}
                <h2>Old Password: <input name="oldpassword" type="password" id="oldpassword" maxlength="64"/></h2>
                <h2>New Password: <input name="password" type="password" id="password" maxlength="64"/></h2><br/>
                <input type="submit" name="submit" value="Edit" />
                {% endif %}
   
    
{% endblock %}