{% extends "layout.html" %}

{% block content %}
        <h1>Welcome {{Fullname}}</h1>
    {% if session['Status'] == "tutor" %}
    <h3>If you wish to tutor in more courses or remove a course from your account, please contact {{adminName}}.</h3>
    	{% if tresults == 'Nothing' %}
        	<h3>You have no appointments scheduled.</h3>
   		{% else %}
			{% for thing in tresults %}
		   		<h3>You have an appointment on {{thing['datenum']}} at {{thing['apptime']}} in {{thing['class']}}.  <a href={{url_for('editAppointment', numId=thing['numId'], datenum=thing['datenum'], apptime=thing['apptime'], class=thing['class'])}}>Edit</a></h3>
			{% endfor %}
		{% endif %}
    {% elif session['Status'] == "student" %}
    	{% if sresults == 'Nothing' %}
    		<h3>You have no appointments scheduled.</h3>
    	{% else %}
	        {% for thing in sresults %}
		    	<h3>You have an appointment on {{thing['datenum']}} at {{thing['apptime']}} in the class {{thing['class']}}.</h3>
		    {% endfor %}
	    {% endif %}
	{% endif %}
	</form>
{% endblock %}