{% extends "layout.html" %}

{% block content %}
<div class = "articleTitle">
  <h1>Log-In </h1>
  
  <div class = "articleContent">
    <h2>Please Login Below</h2>
    <br>
    {% if error == "true" %}
    <h4>Error. Username or Password is incorrect. Please try again.</h4>
    {% endif %}
     <form method="post" action="/">
      <h2>Email: <input name="email" type="text" id="email" placeholder="email" maxlength="96"/></h2><br/>
      <h2>Password: <input name="password" type="password" id="password" placeholder="password" maxlength="64"/></h2><br/><br/>
      <input type="submit" name="submit" value="Sign In" />
   
    </form>
{% endblock %}