{% extends "layout.html" %}

{% block content %}

<div>
	<h1> Confirmation </h1>
	<h2> Please confirm the information below, then press "Confirm" to book your appointment </h2>
	<div id="content">
		<form method='post' action='/bookapp'>
			<h3>Tutor: <input type="text" name="name" value='{{results['tutorFirst']}} {{results['tutorLast']}}' readOnly="true"></h3>
				<br>
			<h3>Class: <input type="text" name="class" value={{results['class']}} readOnly="true"></h3>
				<br>
			<h3>Day: <input type="text" name="dayofweek" value='{{results['nextorlast']}} {{results['dayofweek']}}' readOnly="true"> </h3>
				<br>
			<h3>Time: <input type="text" name="time" value={{results['hourof']}} readOnly="true"></h3>
				<br>
			<input type='submit' name="confirm" value='Confirm'>
		</form>
	</div>
</div>
{% endblock %}