{% extends "layout.html" %}

{% block content %}
	<h1> Hours Available </h1>
	<h3> Choose a time </h3>
	<table style="width: 100%;">
	<tr>
		<th> Monday </th>
		<th> Tuesday </th>
		<th> Wednesday </th>
		<th> Thursday </th>
		<th> Friday </th>
	</tr>
	{% for thing in results %}
	<tr>
		{% if thing['dayofweek'] == 'Monday' %}
		<td class='mon'><a href={{url_for('appointment4', dayofweek=thing['dayofweek'], hourof=thing['hourof'], studentId=thing['studentId'], selClass=selClass)}}>{{thing['hourof']}}</a></td> 
		<td> </td>
		<td> </td>
		<td> </td>
		<td> </td>
		{% elif thing['dayofweek'] == 'Tuesday' %}
		<td> </td>
		<td class='tues'><a href={{url_for('appointment4', dayofweek=thing['dayofweek'], hourof=thing['hourof'], studentId=thing['studentId'], selClass=selClass)}}>{{thing['hourof']}}</a></td>
		<td> </td>
		<td> </td>
		<td> </td>
		{% elif thing['dayofweek'] == 'Wednesday' %}
		<td> </td>
		<td> </td>
		<td><a href={{url_for('appointment4', dayofweek=thing['dayofweek'], hourof=thing['hourof'], studentId=thing['studentId'], selClass=selClass)}}>{{thing['hourof']}}</a></td>
		<td> </td>
		<td> </td>
		{% elif thing['dayofweek'] == 'Thursday' %}
		<td> </td>
		<td> </td>
		<td> </td>
		<td><a href={{url_for('appointment4', dayofweek=thing['dayofweek'], hourof=thing['hourof'], studentId=thing['studentId'], selClass=selClass)}}>{{thing['hourof']}}</a></td>
		<td> </td>
		{% else %}
		<td> </td>
		<td> </td>
		<td> </td>
		<td> </td>
		<td><a href={{url_for('appointment4', dayofweek=thing['dayofweek'], hourof=thing['hourof'], studentId=thing['studentId'], selClass=selClass)}}>{{thing['hourof']}}</a></td>
		{% endif %}
	</tr>
	{% endfor %}
	</table> 
{% endblock %}